.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    font-family: sans-serif;
}

.disclaimer {
    font-size: 0.75rem;
    font-weight: bold;

    color: #464646;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
    margin-bottom: 3rem;
}

.socials p {
    margin: 0;

    color: #dfdfdf;
}

.socials ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 0.25rem;
}

.socials ul li a {
    padding: 0.5rem;
    color: #969696;
    text-decoration: none;
    border-radius: 0.25rem;
    line-height: 1;
}

.socials ul li a:hover,
.socials ul li a:focus {
    color: #dfdfdf;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.05);
}

.socials ul li a i {
    margin-right: 0.25rem;
}
